.container {
    /* max-width: 36rem; */
    padding: 0 0.5rem;
    /* margin: 3rem auto 6rem; */
  }
  
  .header {
    width: 100%;
    max-width: 1726px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .nav {
    padding: 1em;
    width: 100%;
    background: #FFF;
    min-height: 150px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  margin: 0.75em;
}

.linkSelected {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 1em;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1350px) {
  .nav {
    max-height: 100px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .links {
    flex-direction: row;
    max-width: 30%;
    margin-right: 3em;
  }
}