.footer {
    background: #F8F8F8;
    min-height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}
.footer input {
    margin-right: .5em;
    margin-left: .5em;
}
.footer--form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100px;
}

@media (min-width: 1350px) {
    .footer {
        flex-flow: row nowrap;
        justify-content: center;
        padding-top: 2em;
    }
}