.footer {
    background: #F8F8F8;
    min-height: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.footer input {
    margin-right: .5em;
    margin-left: .5em;
}
.footer--form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100px;
}

@media (min-width: 1350px) {

}